.all-products-section {
  display: flex;
  flex-direction: column;
}
.no-products-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-products-heading {
  font-family: 'Roboto';
  color: #12022f;
}
.no-products-para {
  color: #64748b;
  font-family: 'Roboto';
}
.failure-view-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-view-heading {
  font-family: 'Roboto';
  color: #12022f;
}
.failure-view-para {
  color: #64748b;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
